<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to What Should I Wear!</h1>
            </hgroup>
            <p>
                We check today's weather for you and recommend an outfit based on your uploaded wardrobe items.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Tell us about your wardrobe....(coming soon)
            </li>

            <li class="two">
                <h5>Ask us to choose an outfit!</h5>    
                <button onclick="api/getOutfit">Generate outfit</button>
            </li>
            <li class="three">
                <h5>Find Web Hosting</h5>
                <button onclick="api/getOutfit">eh...try something else</button>
                <button onclick="api/wear/id=1&id=2&id=3">This is perfect!</button>
            </li>
        </ol>
    </section>
</div>
