<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to your new wardrobe manager!</h1>
            </hgroup>
            <p>
                We check today's weather for you and recommend an outfit based on your uploaded wardrobe items.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Tell us about your wardrobe....(coming soon)
            </li>

            <li class="two">
                <h5>Ask us to choose an outfit!</h5>    
                <button onclick="getOutfit()">Get suggestions</button>
                <div id="outfit-viewer" style="border:solid">
                </div>
            </li>
            <li class="three">
                <h5>How's that look?</h5>
                <button onclick="getOutfit()">eh...try something else</button>
                <button id="wear_button" onclick="wearOutfit()">This is perfect!</button>
            </li>
        </ol>
    </section>
</div>
@section Scripts {
<script type="text/javascript">
    console.log('executing');

    function getOutfit() {
        console.log('get outfit');
        $.ajax({
            url: '@(Url.Action("GetOutfit", "HomeController"))',
             type: "GET",
             cache: false,
             async: true,
             data: { data: 'hat' },
             success: loadClothing
        });
    }

    function loadClothing(result) {
        console.log("success get outfit");
        $("#outfit-viewer").html(result);
        console.log($("#outfit-viewer")[0]);
    }

    function wearOutfit() {
        console.log("ok wearing it");
        $("#wear_button").text("We're glad you liked it :)");

        $.ajax({
            url: '@(Url.Action("WearOutfit", "HomeController"))"',
            type: "POST",
            cache: false, 
            async: true,
            data : { data: "2" },
            success: returnWearing,
            fail: returnWearing
        });
    }

    function returnWearing() {
        alert("We're glad you liked it! We'll make a note that these clothes need washing now...");
        console.log("wore this outfit today!")
    }


</script>
    }